


<div class="flex flex-col items-center justify-center h-full bg-gray-100" id="userContent">

<div class="flex flex-col items-center justify-center h-full bg-gray-100" id="dashboard">
    <h1 class="title">Dashboard</h1>
    <p class="subtitle">
        Welcome to your dashboard!
    </p>

</div>
    


</div>