


<nav data-testid="navBarAuthenticated"  class="flex items-center  justify-end p-4 bg-white-500">
    <div id="navBarAuthenticated" class="text-white flex space-x-4">
      <a data-testid="dashBtn" class="text-black py-2" ">Dashboard</a>
      <a data-testid="loginBtn" class=" bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 py-2 rounded" href="/logout">Logout</a>
    </div>
    
  </nav>

  <body class="flex flex-col h-screen">
    <main class="flex-grow">

  